/* zoom.css */
/****************************************************************************/
/* Adjust content and metadata styling. Not tabs. */
/****************************************************************************/
:root {
  /* ADJUST THIS VALUE TO YOUR LIKING */
  --custom-font-size-base: 30px;
  --custom-font-size: calc(1 * var(--custom-font-size-base));
  --custom-title-size: calc(2 * var(--custom-font-size-base));
}

.cm-contentContainer,
.metadata-container,
.is-live-preview,
.markdown-reading-view,
.markdown-preview-view {
  font-size: var(--custom-font-size);
}

.inline-title {
  font-size: var(--custom-title-size);
}
